{# This is HTML version of email reset version  #}
{% extends "base-email.html" %}
{% load i18n grp_tags %}
{% block title %} Le Fresnoy - {% trans 'Password Reset' %} {% endblock %}

{% block content %}
<p><strong>{% trans 'You asked for password reset for email'  %} {{ email }}. {% trans 'Follow the link below' %} :</strong><br/>
<a  href="{{ protocol }}://{{ domain }}{% url 'basic_password_reset_confirm' uidb64=uid token=token %}" > {% trans 'Reset my password' %} </a>
<br/>
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
</p>
<p>
L'équipe du Fresnoy
</p>
{% endblock %}