# --- Python ---
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
env/
venv/
ENV/
*.log

# --- Django ---
*.db
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# --- Docker ---
*.pid
docker-compose.override.yml

# --- Environment Files ---
.env
.env.*

# --- VSCode / IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Migrations (optionnel si générés en dev) ---
**/migrations/*.pyc
**/migrations/__pycache__/

# --- OS ---
.DS_Store
Thumbs.db

static/*
media/*
!static/.gitkeep
!media/.gitkeep

