tox
flake8>=4.0.1
pytest>=3.5.1
pluggy>=0.6.0
pytest-flake8>=1.0.1
pytest-django>=3.1.2
pytest-cov>=2.5.1
pytest-readme>=1.0.0
pytest-sugar>=0.9.1
urllib3>=1.24.2
matplotlib>=3.3.2
pandas>=1.1.2
factory_boy>=2.11.0
