Django==4.1
django-allauth==0.51.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-countries==7.5
django-extensions==3.2.1
django-filter==22.1
django-grappelli==3.0.3
django-guardian==2.4.0
django-haystack==3.2.0
# django-language-field==0.0.3
# git+https://github.com/dellsystem/django-language-field
# git+https://github.com/vporton/django-language-field
git+https://github.com/audiolion/django-language-field
django-markdown==0.8.4
django-markdownx==3.0.1
# django-multiselectfield==0.1.12
git+https://github.com/macmichael01/django-multiselectfield
django-pagedown==2.2.1
django-polymorphic==3.1.0
dj-rest-auth==4.0.1
django-rest-polymorphic==0.1.10
django-sortedm2m==3.1.1
django-taggit==4.0.0
#django-tastypie
django-tastypie==0.14.5
django-tastypie-swagger==0.1.4
django-unused-media==0.2.2
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
drf-jwt==1.19.2
# drf-haystack
# drf-haystack==1.8.11
# master of repo (not released)
git+https://github.com/rhblind/drf-haystack.git
elasticsearch==7.15.1
geopy==2.3.0
Pillow==9.3.0
pytz==2022.2.1
psycopg2==2.9.5
pyjwt==2.6.0
# Graphene
graphene-django==3.1.3
django-graphql-jwt==0.3.4