Django==3.1.13
django-allauth==0.46.0
django-cleanup==5.2.0
django-cors-headers==3.10.0
django-countries==7.2.1
django-extensions==3.1.5
django-filter==21.1
django-graphql-jwt==0.3.1
django-grappelli==2.15.3
django-guardian==2.4.0
django-haystack==3.0
# django-language-field==0.0.3
git+https://github.com/MartijnVerkleij/django-language-field.git@patch-1
django-markdown==0.8.4
django-markdownx==3.0.1
django-multiselectfield==0.1.12
django-pagedown==2.2.1
django-polymorphic==3.0.0
django-rest-auth==0.9.5
django-rest-polymorphic==0.1.9
django-sortedm2m==3.1.1
django-taggit==2.0.0
django-taggit-serializer==0.1.7
django-tastypie==0.14.3
django-tastypie-swagger==0.1.4
django-unused-media==0.2.2
djangorestframework==3.12.4
# djangorestframework-jwt==1.11.0
drf-jwt==1.19.1
drf-haystack==1.8.10
elasticsearch==2.4.1
elasticstack==0.5.0
geopy==2.2.0
Pillow==8.4.0
pytz==2021.3
psycopg2==2.9.2
pyjwt==2.3.0
