Django==3.1.4
django-allauth==0.44.0
django-cleanup==5.1.0
django-cors-headers==3.6.0
django-countries==7.0
django-extensions==3.1.0
django-filter==2.4.0
django-graphql-jwt==0.3.1
django-grappelli==2.14.3
django-guardian==2.3.0
django-haystack==3.0
django-language-field==0.0.3
django-markdown==0.8.4
django-markdownx==3.0.1
django-multiselectfield==0.1.12
django-pagedown==2.2.0
django-polymorphic==3.0.0
django-rest-auth==0.9.5
django-rest-polymorphic==0.1.9
django-sortedm2m==3.0.2
django-taggit==1.3.0
django-taggit-serializer==0.1.7
django-tastypie==0.14.3
django-tastypie-swagger==0.1.4
django-unused-media==0.2.2
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-haystack==1.8.9
elasticsearch==7.10.1
elasticstack==0.5.0
geopy==2.0.0
Pillow==7.1.0
pytz==2020.4
psycopg2==2.8.4
pyjwt==1.7.1
