<html>
    <head>
      <title>Kart - Candidature completed</title>
    </head>
    <body style="color: black; background-color: #31bdf0;" bgcolor="#31bdf0">
      <div class="page" style="max-width: 960px; width: 80%; background-color: white; margin: 5% 5%; padding: 5% 5%;">
        <img style="width:100%" src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png">

        <p>Bonjour,</p>
        <p>Vous avez finalisé votre candidature (numéro {{application.current_year_application_count}}), nous allons
          procéder à sa vérification et vous adresser une confirmation prochainement. </p>
        <p>Bien cordialement,</p>
        <p>
          L'équipe du Fresnoy
        </p>
        <hr>
        <p>Hello,</p>
        <p>You have completed your application (number  {{application.current_year_application_count}}), and you will
          receive a confirmation message soon, once we have checked it. </p>
        <p>Kind regards,</p>
        <p>The team at Le Fresnoy</p>
</div>
</body>
</html>
