{% extends "base-candidature-email.html" %}

{% block title %}
Candidature | Le Fresnoy – Studio national des arts contemporains
{% endblock %}

{% block content %}

<p><strong>Bonjour {{user.first_name}} {{user.last_name}},</strong><br/>
<img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
</p>

<p>Vous avez candidaté au concours {{ application.campaign.promotion.starting_year }}
  du Fresnoy – Studio national des arts contemporains, nous vous remercions de votre intérêt pour notre école. </p>

<p>Malgré la qualité des éléments transmis et présentés à nos jurys, nous sommes au regret de vous annoncer que votre
  candidature n'a pas été retenue cette année pour rejoindre la prochaine promotion du Fresnoy.  </p>

  <p>Les membres du jury ne se réunissent qu'une fois pour sélectionner les candidat.es et ne communiquent pas d'argumentaire
    pour justifier leurs décisions. </p>

  <p>Nous vous invitons à candidater à nouveau l’année prochaine si vous remplissez les conditions d’accès. </p>

    <p>Avec nos salutations les plus cordiales, </p>

    <p>La direction pédagogique </p>

        <hr/>
        <p style="text-align:center;">English version</p>
        <hr/>


        <p><strong>Dear {{user.first_name}} {{user.last_name}},</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>

        <p>You have entered the {{ application.campaign.promotion.starting_year }} application process
            for Le Fresnoy – Studio national des arts contemporains.
           Thank you for your interest in our school.</p>

        <p>Despite the quality of the material you submitted,
          we are sorry to inform you that your application to enter
          the school next academic year has not been successful.</p>

          <p>The jury meets only once to choose applicants and does not communicate the reasoning behind its decisions.</p>

          <p>However, we encourage you to apply again next year if you meet the entry conditions. </p>


            <p>With our very best regards, </p>

            <p>The teaching staff</p>

{% endblock %}
