<html>
    <head>
      <title>Kart - Nouvelle Candidature</title>
    </head>
    <body style="color: black; background-color: #31bdf0;" bgcolor="#31bdf0">
      <div class="page" style="max-width: 960px; width: 80%; background-color: white; margin: 5% 5%; padding: 5% 5%;">
        <img style="width:100%" src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png">

      <p>Bonjour</p>
      <p> Une nouvelle candidature : {{application.current_year_application_count}} a été envoyée de la part de
        {{user.first_name}} {{user.last_name}} : {{user.email}}
      <p>
      <p>Pour la consulter, veuillez suivre ce lien:
        <br/>
        <a href="{{url}}" >{{url}}</a>
      </p>
      <p>
        Merci
      </p>

    </div>
</body>
</html>
