{% extends "base-candidature-email.html" %}

{% block title %}
Selection - Candidature completed
{% endblock %}

{% block content %}
        <p><strong>Bonjour {{user.first_name}} {{user.last_name}},</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>
        <p>Vous avez finalisé votre candidature (numéro {{application.current_year_application_count}}), nous allons
          procéder à sa vérification et vous adresser une confirmation prochainement par e-mail. </p>
        <p>Bien cordialement,</p>
        <p>
          L'équipe du Fresnoy – Studio national
        </p>
        <hr/>
        <p style="text-align:center;">English version</p>
        <hr/>
        <p>Hello,</p>
        <p>You have completed your application (number  {{application.current_year_application_count}}), and you will
          receive a confirmation message soon by e-mail, once we have checked it. </p>
        <p>Kind regards,</p>
        <p>The team of Le Fresnoy – Studio national</p>


{% endblock %}
