<html>
    <head>
      <title>Kart - Nouvelle candidature</title>
    </head>
    <body style="color: black; background-color: #333;" bgcolor="#333">
    <div class="page" style="max-width: 960px; width: 100%; background-color: white; margin: 50px 0px; padding: 50px;">
        <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />

      <p>Salut l'équipe<br/>
        Une nouvelle candidature a été envoyée de la part de
        {{user.username}} : {{user.email}} numéro {{application.current_year_application_count}} <br/>
        <a href="{{url}}" >{{url}}</a>
      </p>
      <p>
        L'équipe du Fresnoy
      </p>
    </div>
  <body>
</html>
