<html>
  <body>
    <head>
      <title>Nouvelle candidature</title>
      <style type="text/css">
          body {
            color: black;
            background-color: #333;
          }
          .page {
            max-width: 960px;
            width:100%;
            background-color: white;
            margin: 50px 0px;
            padding: 50px;
          }
      </style>
    </head>
    <div class="page">
      <div class="logo">
        <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />
      </div>
      <p>Bonjour<br/>
        Vous avez complété votre Candidature, nous vous contacterons au début du mois de mai
      </p>
      <p>
        L'équipe du Fresnoy
      </p>
    </div>
  <body>
</html>
