{% extends "base-candidature-email.html" %}

{% block title %}
Selection - Nouvelle Candidature
{% endblock %}

{% block content %}

      <p><strong>Bonjour les admins,</strong><br/>
      <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
      </p>
      <p> Une nouvelle candidature : {{application.current_year_application_count}} a été envoyée de la part de
        {{user.first_name}} {{user.last_name}} : {{user.email}}
      <p>
      <p>Pour la consulter, veuillez suivre ce lien:
        <br/>
        <a href="{{url}}" >{{url}}</a>
      </p>
      <p>
        Merci
      </p>
{% endblock %}
