{% extends "base-candidature-email.html" %}

{% block title %}
Finalize your application
{% endblock %}

{% block content %}

        <p><strong>Bonjour,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>

        <p>Vous avez commencé à compléter votre dossier de candidature sur la plateforme d’inscription
           du Fresnoy – Studio national des arts contemporains. </p>

        <p>Votre dossier n’est pas encore finalisé, nous vous invitons à compléter les éléments manquants, dès que possible.
          Nous vous rappelons que la date limite d'inscription est le
          <strong>{{ application_end.fr }}</strong> (heure de Paris). </p>

        <p>Bien cordialement, <p>
          <br/>
          <br/>
        <p>La direction pédagogique</p>


        <hr/>
        <p style="text-align:center;">English version</p>
        <hr/>


        <p><strong>Hello,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>

        <p>You have started filling in your application on the platform
           of Le Fresnoy – Studio national des arts contemporains. </p>

        <p>Your application is still incomplete. We advise you to fill in the missing elements as soon as possible.
          Please note that the deadline for applications is
          <strong>{{ application_end.en }}</strong>. </p>
          <br/>
          <br/>
        <p>Regards, <p>

        <p>The teaching staff</p>


{% endblock %}
