{% extends "base-candidature-email.html" %}

{% block title %} Le Fresnoy - Password Reset {% endblock %}

{% block content %}
<p><strong>Bonjour,</strong><br/>
<img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
</p>

<p>Vous recevez cet email parce que vous avez demandé une réinitialisation
du mot de passe pour votre compte d'utilisateur : <strong>{{ user.get_username }}</strong><br/>
Voici le lien pour réinitialiser le mot de passe :
</p>
<p>
{% load authfront %}
{% block reset_link %}
<a href="{% authfront_reset_password_link token=token email=email %}" > {{ protocol }}://{{ domain }}/#/candidature/account/reset-password </a>
{% endblock %}
</p>
<p>
L'équipe du Fresnoy
</p>
{% endblock %}