<html>
    <head>
      <title>Le Fresnoy - Account reset</title>
    </head>
    <body style="color: black; background-color: #31bdf0;" bgcolor="#31bdf0">
    <div class="page" style="max-width: 960px; width: 80%; background-color: white; margin: 5% 5%; padding: 5% 5%;">
        <img src="https://app.lefresnoy.net/candidatures/assets/logo-fresnoy.png" />
          <p>Bonjour,</p>
          <p>Vous recevez cet email parce que vous avez demandé une réinitialisation
          du mot de passe pour votre compte d'utilisateur : {{ user.get_username }}</p>
          <p>Voici le lien pour réinitialiser le mot de passe :</p>
          <p>
          {% load authfront %}
          {% block reset_link %}
          {% authfront_reset_password_link token=token email=email %}
          {% endblock %}
          </p>
          <p>L'équipe du Fresnoy</p>
    </div>
    </body>
</html>
