<html>
    <head>
      <title>Kart - Account information</title>
    </head>
    <body style="color: black; background-color: #333;" bgcolor="#333">
    <div class="page" style="max-width: 960px; width: 100%; background-color: white; margin: 50px 0px; padding: 50px;">
        <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />


          <p>
            Bonjour,
          </p>
          <p>
            Vous recevez cet email parce que vous avez demandé une réinitialisation
            du mot de passe pour votre compte d'utilisateur : <strong>{{ user.get_username }}</strong>
          </p>
          <p>
            Voici le lien pour réinitialiser le mot de passe :
          </p>
              {% load authfront %}
              {% block reset_link %}
              {% authfront_reset_password_link token=token email=email %}
              {% endblock %}
          <p>

            L'équipe du Fresnoy
          </p>

    </div>
    </body>
</html>
