<html>
    <head>
      <title>Kart - Account is active</title>
    </head>
    <body style="color: black; background-color: #333;" bgcolor="#333">
    <div class="page" style="max-width: 960px; width: 100%; background-color: white; margin: 50px 0px; padding: 50px;">
          <div class="logo">
            <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />
          </div>

      <p>
        L'utilisateur avec l'email {{ email }} a déjà été validé
      </p>
      <p>
      </p>
    </div>
  <body>
</html>
