<html>
  <body>
    <head>
      <title>Activation Error</title>
      <style type="text/css">
          body {
            color: black;
            background-color: #333;
          }
          .page {
            max-width: 960px;
            width:100%;
            background-color: white;
            margin: 50px 0px;
            padding: 50px;
          }
      </style>
    </head>
    <div class="page">
      <div class="logo">
        <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />
      </div>

      <p>
        Erreur d'activation : utilisateur avec l'ID Activation {{id}}
      </p>
      <p>
      </p>
    </div>
  <body>
</html>
