<html>
  <body>
    <head>
      <title>Kart - Changement du mot de passe</title>
      <style type="text/css">
          body {
            color: black;
            background-color: #333;
          }
          .page {
            max-width: 960px;
            width:100%;
            background-color: white;
            margin: 50px 0px;
            padding: 50px;
          }
      </style>
    </head>
    <div class="page">
      <div class="logo">
        <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />
      </div>

      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
      </form>

      <p>
      </p>
    </div>
  <body>
</html>
