{% extends "base-candidature-page.html" %}

{% block title %} Le Fresnoy - Account Activation {% endblock %}

{% block content %}

      <h3>Erreur d'activation</h3>
      {% if user %}
        
      <p>L'utilisateur <u>{{user}}</u> rencontre un problème.</p>
      
      {% else %}

        <p>L'utilisateur avec le numéro d'activation {{id}} rencontre un problème</p>

      {% endif %}

      <p>Veillez envoyer un email à selection@lefresnoy.net pour vous aider à réinitialiser votre compte.</p>



{% endblock %}