{% extends "base-candidature-email.html" %}

{% block title %} Le Fresnoy - Account Activation {% endblock %}

{% block content %}

        <p><strong>Bonjour,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>

        <p>Afin de poursuivre votre procédure de candidature au Fresnoy – Studio national, 
          merci de confirmer votre e-mail
          <a href='{{url}}'>en cliquant ici</a>.
        </p>
        <p>
          En cas de problème pour vous inscrire, vous pouvez nous contacter en répondant à ce message.
        </p>
        <p>
        Bien cordialement,
        </p>
        <p>
          L'équipe du Fresnoy – Studio national des arts contemporains
        </p>
        <hr/>
        <p style="text-align:center;">English version</p>
        <hr/>
        <p><strong>Hello,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>


        <p>To continue your application procedure at Le Fresnoy – Studio national, please confirm your email by 
          <a href='{{url}}'>clicking here</a>.
        </p>
        <p>
          For any question, feel free to contact us  by replying to the present email.
        </p>
        <p>
        Kind regards,
        </p>
        <p>
        The team at Le Fresnoy – Studio national des arts contemporains
        </p>

{% endblock %}
