{% extends "base-candidature-email.html" %}

{% block title %} Le Fresnoy - Account Informations {% endblock %}

{% block content %}
  <p><strong>Bonjour,</strong><br/>
  <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
  </p>
  <p>
    Voici un récapitulatif de vos données de connexion
  </p>
  <ul>
    <li>Prénom : {{user.first_name}}</li>
    <li>Nom : {{user.last_name}}</li>
    <li>Nom d'utilisateur : {{user.username}}</li>
    <li>Email : {{user.email}}</li>
  </ul>
  <p>
    Connectez vous via <a href="{{authentification_url}}">ce lien</a>.<br/>
    Vous pouvez changer votre mot de passe en utilisant <a href="{{recover_password_url}}">ce lien </a>.<br/>
  </p>
  <p>
    L'équipe du Fresnoy
  </p>


  <hr/>
  <p style="text-align:center;">English version</p>
  <hr/>

  <p><strong>Hello,</strong><br/>
  <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
  </p>
  <p>
    Here is a summary of your connection data:
  </p>
  <ul>
    <li>Given name : {{user.first_name}}</li>
    <li>Surname: {{user.last_name}}</li>
    <li>Username: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
  </ul>
  <p>
    You can connect  <a href="{{authentification_url}}">here</a>.<br/>
    To change your password, click  <a href="{{recover_password_url}}">here </a>.<br/>
  </p>
  <p>
    The teaching staff
  </p>





{% endblock %}
