<html>
    <head>
      <title>Kart - Account Activation</title>
    </head>
    <body style="color: black; background-color: #31bdf0;" bgcolor="#31bdf0">
      <div class="page" style="max-width: 960px; width: 80%; background-color: white; margin: 5% 5%; padding: 5% 5%;">
        <img style="width:100%" src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png">
        <p>Bonjour,</p>

        <p>Vous êtes sur le point de créer un compte sur notre base de données, veuillez
          <a href='{{url}}'>suivre ce lien</a>
          pour créer votre mot de passe et pouvoir ainsi continuer la procédure d'inscription.
        </p>
        <p>
          En cas de problèmes pour vous inscrire, vous pouvez nous contacter en répondant à ce message.
        </p>
        <p>
        Bien cordialement,
        </p>
        <p>
          L'équipe du Fresnoy
        </p>
        <hr/>

        <p>Bonjour,</p>

        <p>You are about to create an account on our database. Please
          <a href='{{url}}'>click on this link </a>
          to create your password and continue your enrolment process.
        </p>
        <p>
          If you have a problem with this, you can contact us by answering this message.
        </p>
        <p>
        Kind regards,
        </p>
        <p>
        The team at Le Fresnoy
        </p>
    </div>
  <body>
</html>
