{% extends "base-candidature-email.html" %}

{% block title %} Le Fresnoy - Account Activation {% endblock %}

{% block content %}

        <p><strong>Bonjour,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>

        <p>Vous êtes sur le point de créer un compte dans notre base de données, veuillez
          <a href='{{url}}'>suivre ce lien</a>
          pour créer votre mot de passe et pouvoir ainsi continuer la procédure d'inscription.
        </p>
        <p>
          En cas de problème pour vous inscrire, vous pouvez nous contacter en répondant à ce message.
        </p>
        <p>
        Bien cordialement,
        </p>
        <p>
          L'équipe du Fresnoy – Studio national
        </p>
        <hr/>
        <p style="text-align:center;">English version</p>
        <hr/>
        <p><strong>Hello,</strong><br/>
        <img width="60" height="5" src="https://app.lefresnoy.net/candidatures/assets/mail/separateur.jpg" />
        </p>


        <p>You are about to create an account in our database. Please
          <a href='{{url}}'>click on this link </a>
          to create your password and go on with your enrolment process.
        </p>
        <p>
          If you have a problem with this, you can contact us by answering this message.
        </p>
        <p>
        Kind regards,
        </p>
        <p>
        The team at Le Fresnoy – Studio national
        </p>

{% endblock %}
