<html>
    <head>
      <title>Kart - Account Activation</title>
    </head>
    <body style="color: black; background-color: #333;" bgcolor="#333">
    <div class="page" style="max-width: 960px; width: 100%; background-color: white; margin: 50px 0px; padding: 50px;">
      <img src="http://www.lefresnoy.net/sites/prod/themes/babylon/images/logos/logo-fresnoy.png" />

      <p>Bonjour<br/>
        Vous êtes sur le point de créer un compte sur notre base de donnée, veuillez
        <a href='{{url}}'>suivre ce lien</a> pour modifier votre mot de passe et pouvoir ainsi continuer la procédure d'inscription.
      </p>
      <p>
        En cas de problèmes pour vous inscrire, veuillez nous contacter au plus vite en répondant à ce message.<br/>
      </p>
      <p>
        L'équipe du Fresnoy
      </p>
    </div>
  <body>
</html>
